.fundo {
    background-color: rgb(51, 17, 17);
}

body {
    color: beige;
}

.container {
    text-align: center; /* Centraliza o conteúdo */
    color: black
}
.texto-centralizado {
    display: inline-block; /* Faz com que a div seja tratada como um bloco e centralize seu conteúdo */
}
.texto-esquerda {
    text-align: left; /* Alinha o texto à esquerda */
    color: black
}

.footer {
    text-align: left;
}
.lista-sem-marcadores {
    list-style: none; /* Remove os marcadores padrão */
}